absl-py                       0.12.0               
AHRS                          0.3.0                
alabaster                     0.7.12               
antlr4-python3-runtime        4.7                  
anyio                         3.3.0                
appdirs                       1.4.4                
argon2-cffi                   20.1.0               
arm-mango                     1.1.0                
asn1ate                       0.6.0                
astunparse                    1.6.3                
async-generator               1.10                 
attention                     4.0                  
attrdict                      2.0.1                
attrs                         21.2.0               
audioread                     2.1.9                
Babel                         2.9.1                
backcall                      0.2.0                
beautifulsoup4                4.6.3                
bleach                        3.3.1                
bokeh                         2.3.0                
cachetools                    4.2.2                
capstone                      4.0.2                
cbor                          1.0.0                
certifi                       2021.5.30            
cffi                          1.14.6               
chardet                       3.0.4                
charset-normalizer            2.0.3                
Click                         7.0                  
cmsis-pack-manager            0.4.0                
colorama                      0.4.5                
commonmark                    0.9.1                
cryptography                  2.9.2                
cycler                        0.10.0               
Cython                        0.29.24              
cython-bbox                   0.1.3                
dataclasses                   0.6                  
debugpy                       1.4.1                
decorator                     5.0.9                
defusedxml                    0.7.1                
dill                          0.3.4                
docutils                      0.19                 
dtaidistance                  2.2.0                
easydict                      1.9                  
ecdsa                         0.17.0               
entrypoints                   0.3                  
fasteners                     0.16.3               
fastjsonschema                2.16.2               
filterpy                      1.4.5                
flatbuffers                   1.12                 
fonttools                     4.28.1               
future                        0.16.0               
gast                          0.4.0                
geographiclib                 1.52                 
giotto-tda                    0.5.1                
google-auth                   1.33.1               
google-auth-oauthlib          0.4.4                
google-pasta                  0.2.0                
googleapis-common-protos      1.53.0               
grpcio                        1.34.1               
gspread                       5.5.0                
h5py                          3.1.0                
httplib2                      0.20.4               
icetea                        2.0.1                
idna                          3.4                  
imageio                       2.11.0               
imagesize                     1.4.1                
importlib-metadata            4.12.0               
importlib-resources           5.4.0                
intelhex                      2.2.1                
intervaltree                  3.1.0                
ipykernel                     6.0.3                
ipython                       7.25.0               
ipython-genutils              0.2.0                
ipywidgets                    7.6.3                
jedi                          0.18.0               
Jinja2                        3.1.2                
joblib                        1.0.1                
json5                         0.9.6                
jsonmerge                     1.8.0                
jsonschema                    3.0.1                
junit-xml                     1.8                  
jupyter-client                6.1.12               
jupyter-core                  4.7.1                
jupyter-server                1.18.1               
jupyterlab                    3.0.16               
jupyterlab-pygments           0.1.2                
jupyterlab-server             2.15.1               
jupyterlab-widgets            1.0.0                
kapre                         0.2.0                
keras                         2.7.0                
keras-flops                   0.1.2                
keras-nightly                 2.5.0.dev2021032900  
Keras-Preprocessing           1.1.2                
keras-tcn                     3.3.0                
kiwisolver                    1.3.1                
lap                           0.4.0                
librosa                       0.8.1                
libusb-package                1.0.26.0             
llvmlite                      0.36.0               
lockfile                      0.12.2               
loguru                        0.6.0                
lxml                          4.9.1                
manifest-tool                 2.4.1                
Markdown                      3.3.4                
MarkupSafe                    2.0.1                
matplotlib                    3.5.0                
matplotlib-inline             0.1.2                
mbed-cli                      1.10.5               
mbed-cloud-sdk                2.0.8                
mbed-flasher                  0.10.1               
mbed-greentea                 1.7.4                
mbed-host-tests               1.5.10               
mbed-ls                       1.7.12               
mbed-os-tools                 0.0.15               
milksnake                     0.1.5                
mistune                       2.0.4                
motmetrics                    1.2.5                
natsort                       8.2.0                
naturalsort                   1.5.1                
NavPy                         1.0                  
nbclassic                     0.3.1                
nbclient                      0.5.3                
nbconvert                     7.0.0                
nbformat                      5.6.0                
nest-asyncio                  1.5.1                
netron                        6.0.7                
networkx                      2.8.6                
ninja                         1.10.2.3             
notebook                      6.4.0                
numba                         0.53.1               
numpy                         1.19.5               
numpy-quaternion              2020.11.2.17.0.49    
oauth2client                  4.1.3                
oauthlib                      3.1.1                
onnx                          1.8.0                
onnx-simplifier               0.4.8                
onnx-tf                       1.8.0                
onnx2keras                    0.0.24               
opencv-python                 4.5.4.58             
opt-einsum                    3.3.0                
packaging                     21.0                 
pandas                        1.3.1                
pandocfilters                 1.4.3                
parso                         0.8.2                
patsy                         0.5.2                
pexpect                       4.8.0                
pickleshare                   0.7.5                
Pillow                        8.4.0                
pip                           20.0.2               
pkg-resources                 0.0.0                
pkgutil-resolve-name          1.3.10               
plotly                        5.1.0                
pooch                         1.5.2                
prettytable                   2.0.0                
progress                      1.6                  
prometheus-client             0.11.0               
promise                       2.3                  
prompt-toolkit                3.0.19               
protobuf                      3.13.0               
psutil                        5.6.6                
ptflops                       0.6.6                
ptyprocess                    0.7.0                
py                            1.11.0               
pyasn1                        0.4.8                
pyasn1-modules                0.2.3                
pycocotools                   2.0.5                
pycparser                     2.20                 
pycryptodome                  3.10.1               
pydash                        4.9.3                
pydometer                     2019.2.8             
pydub                         0.25.1               
pyelftools                    0.25                 
pyflagser                     0.4.4                
Pygments                      2.12.0               
pylink-square                 0.14.2               
pyocd                         0.32.3               
pyocd-pemicro                 1.1.3                
pyparsing                     2.4.7                
pypemicro                     0.1.9                
pyproj                        3.3.1                
pyquaternion                  0.9.9                
pyrsistent                    0.18.0               
pyserial                      3.4                  
pyshark                       0.5.3                
python-dateutil               2.8.2                
python-dotenv                 0.19.0               
python-igraph                 0.9.6                
pytorch2keras                 0.2.4                
pytz                          2021.1               
pyusb                         1.2.1                
PyWavelets                    1.4.1                
PyYAML                        6.0                  
pyzmq                         22.1.0               
requests                      2.26.0               
requests-oauthlib             1.3.0                
requests-unixsocket           0.2.0                
resampy                       0.2.2                
rich                          10.5.0               
rsa                           4.7.2                
scikit-image                  0.19.3               
scikit-learn                  0.24.2               
scipy                         1.7.0                
semver                        2.13.0               
Send2Trash                    1.7.1                
setuptools                    65.4.0               
setuptools-scm                6.3.2                
silence-tensorflow            1.1.1                
six                           1.15.0               
sniffio                       1.2.0                
snowballstemmer               2.2.0                
sortedcontainers              2.4.0                
SoundFile                     0.10.3.post1         
soupsieve                     2.2.1                
sphinx                        5.2.0.post0          
sphinxcontrib-applehelp       1.0.2                
sphinxcontrib-devhelp         1.0.2                
sphinxcontrib-htmlhelp        2.0.0                
sphinxcontrib-jsmath          1.0.1                
sphinxcontrib-qthelp          1.0.3                
sphinxcontrib-serializinghtml 1.1.5                
statsmodels                   0.13.0               
style                         1.1.0                
tabulate                      0.8.10               
tenacity                      8.0.1                
tensorboard                   2.5.0                
tensorboard-data-server       0.6.1                
tensorboard-plugin-wit        1.8.0                
tensorflow                    2.5.0                
tensorflow-addons             0.13.0               
tensorflow-datasets           4.4.0                
tensorflow-estimator          2.5.0                
tensorflow-gpu                2.5.0                
tensorflow-hub                0.12.0               
tensorflow-metadata           1.4.0                
termcolor                     1.1.0                
terminado                     0.10.1               
testpath                      0.5.0                
texttable                     1.6.4                
tflite                        2.4.0                
tflite-flops                  0.0.0                
thop                          0.1.1.post2209072238 
threadpoolctl                 2.2.0                
tifffile                      2022.8.12            
tinycss2                      1.1.1                
tomli                         1.2.2                
torch                         1.12.1+cu116         
torchaudio                    0.12.1+cu116         
torchsummary                  1.5.1                
torchvision                   0.13.1+cu116         
tornado                       6.1                  
tqdm                          4.61.2               
traitlets                     5.1.0                
transitions                   0.9.0                
tsfel                         0.1.4                
typeguard                     2.12.1               
typing-extensions             3.7.4                
update                        0.0.1                
urllib3                       1.24.2               
wcwidth                       0.2.5                
webencodings                  0.5.1                
websocket-client              1.1.0                
Werkzeug                      2.0.1                
wheel                         0.36.2               
widgetsnbextension            3.5.1                
wrapt                         1.12.1               
xmltodict                     0.13.0               
yattag                        1.14.0               
zipp                          3.6.0  
